<!DOCTYPE html>

<!-- - To check whether a number is even or odd -->
<!-- - Display factorial of a number -->
<!-- - Display fibonacci series ( 0, 1, 1, 2, 3, 5, 8 ) -->
<!-- - Display a whether a number is perfect number or not ( sum of factors is equal to the 
   number excluding the number itself) -->
<!-- - Check whether a string is palindrome or not -->
<!-- - Display whether a number is armstrong or not ( Sum of its digits raised to the 
          power of the number of digits)-->
<html>
  <head> </head>
  <body>
    <div class="mainContainer">
      <mat-slide-toggle
        size="large"
        [(ngModel)]="isDarkMode"
        (click)="toggleDarkTheme()"
        class="themeToggleButton"
      ></mat-slide-toggle>

      <div class="navContainer" >
        <div *ngFor="let links of programRouterLink">
          <a [routerLink]="links.programLink">
            <mat-card class="programList" routerLinkActive="activeRouterLink">
              {{ links.programName }}</mat-card
            ></a
          >
        </div>
      </div>
      <div class="routerContainer">
        <div class="routerSubContainer">
          <router-outlet class="routerOutlet"></router-outlet>
        </div>
      </div>
    </div>
  </body>
</html>
