/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: "Ubuntu regular" !important;
}
@font-face {
  font-family: "Ubuntu light";
  src: local("Ubuntu"),
    url(./assets/fonts/Ubuntu/Ubuntu-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu regular";
  src: local("Ubuntu"),
    url(./assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
}
:root {
  --containerColor:transparent
  --borderColor:LightGray
  --orangeColorDark:#d65d0e;
  --orangecolor:Orange;
  --darkGreen:#98971a;
  --darkGreenColor:green
}


body{
  --bgColor:transparent;
  --textColor:#282828;
  --borderColor:LightGray;
  --orangeColor:orange;
  --orangeColorDark:#d65d0e;
  --darkGreenColor:green;
}
body.dark-theme{
  --bgColor:#1d2021;
  --containerColor:#282828;
  --textColor:#fbf1c7;
  body{
    --textColor:#fbf1c7;
    --darkGreenColor:var(--darkGreen);
    --borderColor:var(--orangeColorDark);
    --orangeColor:var(--orangeColorDark);
  }
}
body{
  background:var(--bgColor);
}


.mainContainer {
  border-radius: 4px;
  padding: 10px;
  overflow:hidden;
  margin:0;
  padding:0;
}
